<span class="sc-advertising-li-check" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
      <g clip-path="url(#clip0_699_11724)">
        <path d="M14.5338 6.66666C14.8383 8.16086 14.6213 9.71427 13.9191 11.0679C13.2168 12.4214 12.0717 13.4934 10.6748 14.1049C9.27791 14.7164 7.71357 14.8305 6.24269 14.4282C4.7718 14.026 3.48328 13.1316 2.59201 11.8943C1.70073 10.657 1.26057 9.15148 1.34493 7.62892C1.42929 6.10635 2.03307 4.65872 3.05559 3.52744C4.0781 2.39616 5.45754 1.64961 6.96387 1.4123C8.47019 1.17498 10.0123 1.46123 11.3332 2.22333" stroke="#FF6B00" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6 7.33341L8 9.33341L14.6667 2.66675" stroke="#FF6B00" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      <defs>
        <clipPath id="clip0_699_11724">
          <rect width="16" height="16" fill="white"/>
        </clipPath>
      </defs>
    </svg>
</span>
