<span class="sc-advertising-star-row" aria-hidden="true">
    <span class="sc-advertising-star">★</span>
    <span class="sc-advertising-star">★</span>
    <span class="sc-advertising-star">★</span>
    <span class="sc-advertising-star">★</span>
    <span class="sc-advertising-star">★</span>
</span>
