<section class="sc-directory">
    <div class="sc-directory-inner">
        <h2 class="sc-directory-title">{{t "Directory"}}</h2>

        {{> "directory-filters-tabs"}}
        {{> "directory-panels"}}
    </div>
</section>

{{> "directory-interactions"}}
