{{!< default}} 

<main class="gh-main">
    {{> hero-section}}
    {{> content-grid}}
    {{> breaking-news}}
    {{> trust-section}}
    {{> market-dashboard}}
    {{> directory-section}}
    {{> crypto-platform}}
    {{> crypto-jobs}}
    {{> take-action}}
    {{> upcoming-events}}
    {{> more-news}}
    {{> ai-news-slider}}
    {{> "press-release-feed"}}
    {{> never-miss}}
    {{> subscribe-newsletter}}
    {{> social-media-channels}}

    {{> "tag-slider-section"}}
    {{!-- {{> "video-feed"}} --}}
    {{> "featured-feed"}}
    {{> "category-feed"}}
</main>