/* Breadcrumbs Styles */
/* ---------------------------------------------------------- */

.gh-breadcrumbs {
    display: flex;
    margin-bottom: 18px;
    gap: 24px;
}

.gh-breadcrumb-item {
    position: relative;
    display: flex;
    justify-content: center;
}

.gh-breadcrumb-item a,
.gh-breadcrumb-item span {
    color: #6B7280;
    font-family: "Helvetica Now Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    transition: opacity 0.25s ease;
}

.gh-breadcrumb-item:hover a {
    opacity: 0.6;
}

.gh-breadcrumb-item:hover a {
    opacity: 0.6;
}

.gh-breadcrumbs li+li::before {
    position: absolute;
    top: -6px;
    left: -19px;
    width: 16px;
    height: 16px;
}

:root[data-color-scheme="light"] .gh-breadcrumbs li+li::before {
    content: url("../imagesAndIcons/chevron-right-solid.svg");
}

:root[data-color-scheme="dark"] .gh-breadcrumbs li+li::before {
    content: url("../imagesAndIcons/chevron-right-solid-dark.svg");
}