.extended-header{
    padding: 0.5rem 0;
    background-color: #101010;
    border-bottom: 1px solid #1B1B1B;

    .gh-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: none;

        @media (max-width: 550px) {
            justify-content: center;
        }

        .tp-logo__text{
            fill: white !important;
        }

        .left{
            overflow: hidden;
            padding-right: 0;
        }

        .right{
            display: flex;
            gap: 1rem;
            align-items: center;

            @media (max-width: 550px) {
                display: none;
            }

            nav{
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    font-family: var(--font-family-navigation);
                    font-weight: 500;
                    font-size: 70%;
                    gap: 1rem;
                    li{
                        margin: 0;
                        a{
                            color: var(--color-text-main);
                            text-decoration: none;
                            border-radius: 0.5rem;
                            transition: background-color 0.3s;
                            white-space: nowrap;
        
                            &:hover{
                                color: var(--ghost-accent-color);
                            }
                        }
                    }
                }
            }
            .gh-social-icons{
                display: flex;
                gap: 0.5rem;
                border-left: 1px solid var(--color-header-border);
                padding-left: 1rem;
                a{
                    color: var(--color-text-main);
                    text-decoration: none;
                    transition: color 0.3s;
        
                    &:hover{
                        color: var(--color-text-hover);
                    }
                    svg{
                        max-height: 18px;
                        width: auto;
                    }
                }
            }
        }
    }
}

:root[data-color-scheme="light"] .extended-header {
    background-color: #ffffff;
    border-bottom: 1px solid #E9ECEF;
}