.container-staff {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 40px 0; */
}
.container-staff .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-staff .card img {
  width: 400px;
}
.container-staff .card .content {
  position: absolute;
  bottom: -60px;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  backdrop-filter: blur(15px);
  background-color: rgb(0, 0, 0, 0.3);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  transition: bottom 0.5s;
  transition-delay: 0.65s;
}
.container-staff .card:hover .content {
  bottom: 0;
  transition-delay: 0s;
}
.container-staff .card .content .contentBx h3 {
  /* text-transform: uppercase; */
  font-family: var(--font-family-body);
  color: #fff;
  /* letter-spacing: 2px; */
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: 20px 0 15px;
  line-height: 1.1em;
  transition: 0.5s;
  transition-delay: 0.6s;
  /* opacity: 0; */
  /* transform: translateY(-20px); */
  width: 100%;
}
.container-staff .card .content .contentBx span {
  color: #fff;
  /* letter-spacing: 2px; */
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px;
  line-height: 1.1em;
  transition: 0.5s;
  transition-delay: 0.6s;
  /* opacity: 0; */
  transform: translateY(-20px);
}
.container-staff .card .content .contentBx .sm-icon:hover {
  color: #f19021;
}
.container-staff .card:hover .content .contentBx h3 {
  opacity: 1;
  transform: translateY(0);
}
.container-staff .card:hover .content .contentBx span {
  opacity: 1;
  transform: translateY(0);
}
.container-staff .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}
.container-staff .card .content .sci {
  position: relative;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px !important;
}
.container-staff .card .content .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.2s * var(--i));
  border-bottom: 4px solid #f19021;
}

.container-staff .card:hover .content .sci li {
  transform: translateY(0);
  opacity: 1;
}
.container-staff .card .content .sci li a {
  color: white;
  font-size: 24px;
  border-bottom: 0px !important;
}
